fork
trocli
.zip
.gradle
.so
*.*.deb
*.so.*
*.so.**.*
build
cameras/static/hls/*

node_modules
cgo/ffmpeg/lib/ffmpeg_output
wails/cgo/release
wails/cgo/windows_release
wails/cgo/debian
wails/cgo/lib/ffmpeg_output
dist
ffmpeg-concat
*.mp3
*.m4a

sftp/sftp_data/*
sftp_server
sftp_demo
sftp_data
rtsp_demo


battery/loadtest
battery/server

./mqtt/custom_client/custom_mqtt
./mqtt/custom_client/mqtt_final
./mqtt/custom_client/mqtt_client
./mqtt/custom_client/mqtt_client_new
./mqtt/custom_client/mqtt_client_updated
./mqtt/custom_client/_cleanup_temp/test_client
